{:deps  {org.clojure/clojure            {:mvn/version "1.12.0"}
         org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
         clj-http/clj-http              {:mvn/version "3.13.0"}}
 :paths ["."]}
